include footer.pug

doctype html
html
    head
        title="Pacific Potion"
        link(rel="stylesheet" href="/stylesheets/home.css")
        //- script(src="/javascripts/home.js")

    body
        div(id='header')
        div(id='home-container')
            div(id='recent')
                h2 Recently Created Potions
                div(id='potion-box')
                    each potion in potions
                        a(id='potion-card' href=`/potions/${potion.id}`)
                            img(id='potion-image' src=`${potion.PotionType.image}`, alt="an image of a potion")
                            h5 #{potion.name}

            div(id='user-n-search')
                div(id='user-status')
                    if locals.authenticated
                        span Welcome, #{user.username} !
                        br
                        form(action="/logout" method="post")
                            button(type="submit" id='logmeout') Logout
                        br
                    else
                        a(href='/signup') Create an account
                        br
                        a(href='/login') Log in
                        br
                        form#demo-button(action="/demo" method="post")
                            button(type="submit") Demo

                div(id='searchbar')
                    form(action="/search", method="post" id='searchbar-form')
                        input(type="text" name='search' autocomplete="off" placeholder="Search by name...")
                        button(type="submit" id="search-button")
                        button(type="submit" id="show-all-button") All Types

                div(id="potion-types")
                    form(action="/search/type", method="post")
                        each potionType in potionTypes
                            button(id=`${potionType.name}` type="submit" name='type' value=`${potionType.name}`) #{potionType.name}

